
  
  .swiper {
    width: 290px;
    height: 390px;
 
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #fff;
    object-fit: fill;
  }
  .swiper-slide:nth-child(1n) {
    background-color:#183D3D;
  }
  
  .swiper-slide:nth-child(2n) {
    background-color:#176B87;
  }
  
  .swiper-slide:nth-child(3n) {
    background-color:#87CBB9;
  }
  
  .swiper-slide:nth-child(4n) {
    background-color:#445069;
  }
  
 
 